


/* location-Top  */
#locationTop{
    display: flex;
    align-items: center;
    padding: 15px 30px;
}
#locationTop > a{
    color: #81858b;
    font-size: 14px;
    text-decoration: none;
    margin: 0 5px;
}







/* containerGroceries */

#containerGroceries{
    width: 80%;
    padding: 30px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.GroceriesItem{
    width: 337px;
    height: 485px;
    text-decoration: none;
    border: 1px solid #cfcfcf50;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}
.SpecialSellBoxGroceriesItem{
    width: 60px;
    height: 32px;
}


.imgGroceriesItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
}
.srcGroceriesItem{
    width: 100%;
    height: 100%;
}
.nameGroceriesItem{
    font-size: 13px;
    color: #3f4064;
    padding: 15px 0;
}


.ScoreSeller{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.Seller{
    display: flex;
    align-items: center;
}
.SellerSvg{
    width: 16px;
    color: #1028ff;
}
.SellerText{
    font-size: 13px;
    color: #62666d;
    font-weight: 100;
    margin-right: 5px;
}
.Score{
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ScoreText{
    font-size: 14px;
    color: #3f4064;
}

.ScoreSvg{
    font-size: 13px;
}


.DiscountPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
}



.Price{
    
}
.PriceText{
    color: #3f4064;
    font-weight: bold;
}

.DiscountBox{
    width: 20px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    padding: 0 12px;
}
.Discount{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: fit-content;
}
.PriceTextFake{
    text-decoration-line: line-through;
    color: #c0c2c5  ;
    font-size: 13px;
    font-weight: 500;
    float: left ;
}


#BoxPaging{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.BtnPaging{
    padding: 8px 18px;
    margin: 5px;
    border-radius: 5px;
    background-color: #ef4056;
    color: #fff;
    cursor: pointer;
}