#BoxAccountDetails{
    width: 100%;
    height: 500px;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 15px 0;
}

#BoxAccountDetails > h3 {
    margin-bottom: 25px;
}


#BoxFirstNameaAndLastName{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#BoxFirstName  , #BoxLastName{
    width: 45%;
}

#BoxFirstName >input,#BoxLastName > input {
    box-sizing: border-box;
}



.containerInput{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px 0;
    box-sizing: border-box;
}


.input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #eee;
    font-family: "iranykan";
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 6px;
}

.BoxInputAndI{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.BoxInputAndI > input{
    border-left: none;
}

.BoxInputAndI > .i{
    background-color: #fff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    color: #c81414;
    cursor: pointer;
}

label {
    color: #515151;
    margin-bottom: 5px;
}









#BoxEroor{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
    padding: 15px 0;
}   
#BoxEroor > p{
    color: red;
    margin: 0;
}
#BoxEroor > span{
    color: green;
}

#BoxSubAndExit{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#SubAccountDetails{
    padding: 6px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
#CancellAccountDetails{
    padding: 6px 20px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: #c81414;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    #BoxFirstNameaAndLastName{
        flex-direction: column;
    }
    #BoxFirstName,#BoxLastName{
        width: 100%;
        margin: 10px 0;
    }
    .containerInput{
        margin: 10px 0;
    }
}
