@font-face {
    font-family: 'iranykan';
    src: url('@../../../../../Font/Yekan.eot') format('eot'),
    url('../../../../../Font/Yekan.woff') format('woff'),
    url('../../../../../Font/Yekan.svg') format('svg'),
    url('../../../../../Font/Yekan.ttf') format('ttf');
}

body{
    direction: rtl;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin: 0;
    padding: 30px 0;
    box-sizing: border-box;
    font-family:"iranykan" ;
    background-color: #f9f9f9;
}

.boxProfile{
    width: 90%;
    display: flex;
    
    justify-content: space-between;
}

.Profilecontent{
    width: 100%;
    margin-right: 20px;
    padding-right: 330px;
}

#BlurBoxIsLogot{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(3px);
    display: none;
    z-index: 3;
}

#BoxIsLogot{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    background-color: #ededed;
    box-shadow: 0 0 5px 1px #ededed;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 3;
}
#BoxIsLogot > p{
    margin: 0;
}
#TrueIsLogot{
    padding: 5px 20px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
#FalseIsLogot{
    padding: 5px 20px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
}


@media only screen and (max-width: 1000px) {
    .Profilecontent{
        padding: 25px 0 0 0 ;
    }
}


@media only screen and (max-width: 600px) {
    .Profilecontent{
        margin: 0;
    }
    #BoxIsLogot{
        width: 90% ;
    }

}
