.menuBox{
    width: 330px;
    height: 90vh;
    box-sizing: border-box;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px 2px #fff;
    padding: 25px;
}

.menu-respansev-btn{
    display: none;
    font-size: 25px;
    margin: 25px 0 0 0;
}

.BoxLogoExitRespansev{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.exitMenuRespansevBtn{
    display: none;
    font-size: 25px;
} 



.Ulmenu{
    list-style-type: none;
    padding: 0;
}
.Ulmenu > a{
    padding: 10px 30px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.Ulmenu > a >i{
    color: #515151;
}
.Ulmenu > a >p{
    color: #515151;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
}


/* responsev */


@media only screen and (max-width: 1000px) {
    .menuBox{
        position: unset;
        padding: 0;
    }
    .menu{
        transition: all 1s;
        position: absolute;
        background-color: #fff;
        top: 0;
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
    .BoxLogoExitRespansev{
        width: 80%;
    }
    .Ulmenu{
        width: 80%;
    }
    
    .exitMenuRespansevBtn{
        display: block;
    }
    .menu-respansev-btn{
        display: block;
    }
    .menuBox{
        width: auto;
    }
    .BoxLogoExitRespansev{
        width: 80%;
        justify-content: space-between;
    }

    
}

@media only screen and (max-width: 600px) {
    .menu-respansev-btn{
        justify-content: space-between;
    }
    .menu-respansev-btn{
        margin: 0;
        position: absolute;
        top: 10px;
        right: 30px;
    }
}

