*{
    margin: 0;
    padding: 0;
}

header{
    border-bottom: 1px solid rgba(0,0,0,.14);
    padding-bottom: 5px;
}
#TopHeader{
    width: 100%;
    height: 60px;
    background-image: url(../../img/HeaderimgTop.webp);
    background-position: center;
    background-size: cover;
}

#CenterHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#RightCenterHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
#BoxLogo{
    height: 30px;
}
#searchBox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
#inputSearch{
    background-color: #f0f0f1;
    border: none;
    height: 40px;
    width: 480px;
    border-radius: 10px  0  0 10px;
    font-size: 14px;
}
#inputSearch::placeholder{
    color: #a1a3a8;
    font-family: "iranykan";
}
#inputSearch:focus{
    outline: none;
}

#LeftCenterHeader{
    display: flex;
    align-items: center;
}
#login{
    border: 1px solid #e0e0e2;
    border-radius: 5px;
    padding: 4px 8px; 
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.boxUserinHeader{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#login > a{
    font-size: 13px;
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}
#Cart{
    border-right: 1px solid #e0e0e2;
    padding-right: 13px;
    position: relative;
}
.NumberProducts{
    width: 16px;
    height: 16px;
    background-color: #ef4056;
    border-radius: 6px;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    bottom: -5px;
    display: none; /* flex */
    align-items: center;
    justify-content: center;
}
.TextNumberProducts{
    font-size: 12px;
    color: #fff;
}
/*  */

#BottomHeader{
    padding: 0 25px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#rightBottomHeader{
    display: flex;
}

#listAll{
    border-left: 1px solid #e0e0e2;
    padding-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#list{
    z-index: 1;
}
#listAll > i{
    margin-left: 13px;
}
#listAll > h5 {
    font-size: 15px;
    font-weight: 500;
}



#list > ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
#boxLogoAndExitRespansev{
    display: none !important;
}
#list > ul > li{
    padding: 0 10px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleSvg{
    width: 14px;
    height: 14px;
    border: 2px solid #a1a3a8;
    border-radius: 100%;
    font-size: 10px !important;
}

#list > ul > li > i {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#list > ul > li > a{
    color: #62666d;
    text-decoration: none;
    font-size: 13px;
}



#leftBottomHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
#leftBottomHeader > i {
    margin-left: 10px;
}
#leftBottomHeader > p {
    font-size: 13px;
    color: #3f4064;
}





/* respansev */
@media only screen and (max-width: 1200px) {
    .Menudiscountsandrecommendations{
        display: none !important;
        background-color: red;
        /* حذف تخفیف ها و پیشنهادات از منو */
    }
}

@media only screen and (max-width: 890px) {
    #inputSearch{
        width: 100%;
    }
    #list{
       

        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        right: -100%;
        transition: all 1s;
        background-color: #fff;

    }
    #list>ul{
        display: flex;
        flex-direction: column;
    }
    #list>ul>li{
        padding: 10px 0;
    }
    #list>ul>li>a{
        font-size: 18px;
    }
    #listAll{
        border: none;
    }
    #boxLogoAndExitRespansev{
        display: flex !important;
        width: 90%;
        justify-content: space-between !important;
        padding: 30px 0 50px 0 !important;
    }
    #boxLogoAndExitRespansev>i{
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 580px) {
    #searchBox{
        display: none;
    }
}
