#AddSlider{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cecece;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
#BoxBtnAddSlider{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 105px;
    cursor: pointer;
}

#BoxContentAddSlider{
    background-color: #00000008;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

#BoxImgAddSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}   
#inputBoxImgAddSlider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    border: 1px solid #777777;
    padding: 5px;
}
#TextBoxImgAddSlider{
    margin: 0 5px 0 0;
}
#InputBoxImgAddSlider{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

#EroorAddSlider >p{
    color: red;
    margin: 2px;
}


#BoxSubAndExit{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
#SubAddSlider{
    padding: 8px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
#ExitAddSlider{
    padding: 8px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
}



#BoxSlide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.Slide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 5px 2px #ccc ;
    border-radius: 2px;
}
.imgSlide{
    width: 245px;
    height: 245px;
    object-fit: cover;
    border-radius: 5px;
}
.DeleteSlide{
    border: none;
    outline: none;
    background-color: #cf0a0a;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-family: "iranykan";
    margin: 15px 0 8px 0;
    box-shadow: 0 0 5px 1px #ccc;
}



#BoxDeleteSlider{
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 150px;
    background-color: #ededed;
    box-shadow: 0 0 5px 1px #ededed;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 4;
}
#BoxDeleteSlider > p {
    margin: 0;
}

#TrueIsDeleteSlide{
    padding: 5px 20px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: red;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
}
#FalseIsDeleteSlide{
    padding: 5px 20px;
    cursor: pointer;
    font-family: "iranykan";
    background-color: green;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
}