/* .Profilecontent{
    width: 75% !important;
} */

.containerGroceries{
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}

.GroceriesItem{
    width: 337px;
    height: auto;
    text-decoration: none;
    border: 1px solid #cfcfcf50;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    position: relative;
}
.SpecialSellBoxGroceriesItem{
    width: 60px;
    height: 32px;
}


.imgGroceriesItem{
    display: flex;
    align-items: center;
    justify-content: center;
}
.srcGroceriesItem{
    width: 240px;
}
.nameGroceriesItem{
    font-size: 13px;
    color: #3f4064;
    padding: 15px 0;
}


.ScoreSeller{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.Seller{
    display: flex;
    align-items: center;
}
.SellerSvg{
    width: 16px;
    color: #1028ff;
}
.SellerText{
    font-size: 13px;
    color: #62666d;
    font-weight: 100;
    margin-right: 5px;
}
.Score{
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ScoreText{
    font-size: 14px;
    color: #3f4064;
}

.ScoreSvg{
    font-size: 13px;
}


.DiscountPrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: ltr;
}



.Price{
    
}
.PriceText{
    color: #3f4064;
    font-weight: bold;
}

.DiscountBox{
    width: 20px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40%;
    padding: 0 12px;
}
.Discount{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    height: fit-content;
}
.PriceTextFake{
    text-decoration-line: line-through;
    color: #c0c2c5  ;
    font-size: 13px;
    font-weight: 500;
    float: left ;
}

.Accept-Product-false{
    padding: 3px 8px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-family: "iranykan";
    font-size: 15px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: green;
    color: #fff;
    cursor: pointer;
}

.Accept-Product-true{
    padding: 3px 8px;
    outline: none;
    border: none;
    border-radius: 7px;
    font-family: "iranykan";
    font-size: 17px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    color: green;
    
}

.Box-Order-User-Name{
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 95%;
    padding: 10px;
    box-shadow: 0 0 10px 2px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.Box-Order-User-Name > .BoxUserName{
    display: flex;
    z-index: -1;
}
.Box-Order-User-Name > .BoxUserName > p{
    margin: 0;
}
.Box-Order-User-Name > .BoxUserName > .UserName{
    margin-right: 5px;
}
.btn-Order-User-Name{
    font-size: 18px;
    padding: 5px;
    z-index: -1;
}

